/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
    .fieldset-1 {
        width: 80%;
    }
    .fieldset-5, .fieldset-6 {
        width: 40%;
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    .fieldset-1 {
        width: 90%;
    }
    .fieldset-5, .fieldset-6 {
        width: 90%;
        max-width: 300px;
    }
    .nav {
        padding: 5px;
    }
    .nav a {
        padding: 5px 10px;
    }
}

@media (max-width: 360px) {
    .nav a {
        display: block;
        padding: 10px;
        text-align: left;
    }
}
