body {
    background-image: url("https://storage.yandexcloud.net/otakuy-media/post_media/b57b0dd8-91e9-11ee-9e5c-ae0176efcb1c");
    background-size: cover; /* Для растяжения изображения на весь экран */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Избежать повторения изображения */
}
.overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Белый фон с прозрачностью */
    padding: 20px;
    border-radius: 8px; /* Закругление углов */
}
.container {
    background-color: white; /* Устанавливаем белый фон для всех контейнеров */
    border-radius: 8px; /* Добавляем скругление углов */
    padding: 20px; /* Добавляем внутренние отступы */
    margin-bottom: 20px; /* Отступ снизу для разделения между контейнерами */
}

.card {
    background-color: white; /* Устанавливаем белый фон для карточек */
    border: 1px solid #ddd; /* Добавляем легкую рамку */
    border-radius: 8px; /* Добавляем скругление углов */
    margin-bottom: 20px; /* Отступ снизу для разделения между карточками */
}

fieldset {
    background-color: white; /* Устанавливаем белый фон для fieldset */
    border: 2px solid #007bff; /* Можно изменить цвет рамки при необходимости */
    border-radius: 8px; /* Добавляем скругление углов */
}