body {
    background-image: url("https://storage.yandexcloud.net/otakuy-media/post_media/b57b0dd8-91e9-11ee-9e5c-ae0176efcb1c");
    background-size: cover; /* Для растяжения изображения на весь экран */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Избежать повторения изображения */
}
.overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Белый фон с прозрачностью */
    padding: 20px;
    border-radius: 8px; /* Закругление углов */
}
.container {
    background-color: white; /* Устанавливаем белый фон для всех контейнеров */
    border-radius: 8px; /* Добавляем скругление углов */
    padding: 20px; /* Добавляем внутренние отступы */
    margin-bottom: 20px; /* Отступ снизу для разделения между контейнерами */
}

.card {
    background-color: white; /* Устанавливаем белый фон для карточек */
    border: 1px solid #ddd; /* Добавляем легкую рамку */
    border-radius: 8px; /* Добавляем скругление углов */
    margin-bottom: 20px; /* Отступ снизу для разделения между карточками */
}

fieldset {
    background-color: white; /* Устанавливаем белый фон для fieldset */
    border: 2px solid #007bff; /* Можно изменить цвет рамки при необходимости */
    border-radius: 8px; /* Добавляем скругление углов */
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.facebook {
    background-color: #3b5998; 
    color: white;
}

.btn-facebook {
    background-color: #4267B2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-facebook:hover {
    background-color: #365899;
}


.twitter {
    background-color: #1DA1F2; 
    color: white;
}

.btn-twitter {
    background-color: #1DA1F2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-twitter:hover {
    background-color: #0d95e8;
}


.instagram {
    background-color: #C13584;
    color: white;
}

.btn-instagram {
    background-color: #C13584;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-instagram:hover {
    background-color: #e1306c;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
