body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}
h1, h2 {
    color: black;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    float:left; 
}
th, td {
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
    background-color: white; 
}
.td-1{
    text-align: center;
}
.td-image {
    width: 250px; 
    text-align: left;
}
.td-image img {
    max-width: 100%; 
    height: auto; 
}

#time-display {
    text-align: center; /* Центрируем текст */
    font-size: 2rem; /* Увеличиваем размер шрифта */
    margin-top: 20px; /* Добавляем отступ сверху */
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.rotate {
    animation: rotate 0.3s forwards; /* Время анимации 0.3 секунды */
}